
.back-button {
    position: sticky;
    top: 60px; 
    z-index: 1000; 
    border: 1px solid #ccc; 
    padding: 10px 20px; 
    font-size: 24px; 
    cursor: pointer;
    font-weight: bold;
    padding: 7px 40px;
    border-radius:12px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.4s ease;
    
  }
 
    
  .back-button:hover {
    background-color: #0056b3;
    transition: 0.6s;
  }
.back-button2 {
    position: sticky;
    margin-left: 1000px;
    top: 60px; 
    z-index: 1000; 
    border: 1px solid #ccc; 
    padding: 10px 20px; 
    font-size: 24px; 
    cursor: pointer;
    font-weight: bold;
    padding: 7px 40px;
    border-radius:12px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.4s ease;
    @media (max-width: 768px) {
      margin-left: 320px;
    }
  }
 
    
  .back-button2:hover {
    background-color: aqua;
    transition: 0.8s;
  }
   
  